.stars {
  display: flex;
  gap: 4px;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &__star--1 {
    background-image: url(../images/star-active.svg);
  }
  &__star--2 {
    background-image: url(../images/star-active.svg);
  }
  &__star--3 {
    background-image: url(../images/star-active.svg);
  }
  &__star--4 {
    background-image: url(../images/star-active.svg);
  }

  // &__star--5 {
  // }
}
